body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
  color: #000;
}

/* HEADER */
.gov-header {
  background: #ffffff;
  border-bottom: 3px solid #1f4e79;
}

.header-inner {
  display: flex;
  align-items: center;
  padding: 12px 20px;
}

.gov-logo {
  height: 90px;   /* increase this value */
  width: auto;
  margin-right: 16px;
  margin-bottom: -5px;
}


.gov-title h1 {
  font-size: 20px;
  margin: 0;
}

.gov-title p {
  margin: 2px 0 0;
  font-size: 13px;
}

/* NAV */
.gov-nav {
  background: #1f4e79;
}

.gov-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.gov-nav li {
  padding: 12px 16px;
  color: #fff;
  font-size: 14px;
  border-right: 1px solid #345f88;
}

.gov-nav li.active,
.gov-nav li:hover {
  background: #163a5c;
  cursor: pointer;
}

/* CONTENT */
.gov-container {
  max-width: 1200px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
}

.page-title {
  margin-top: 0;
  font-size: 18px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 6px;
}

/* TABLES */
.gov-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 14px;
}

.gov-table th,
.gov-table td {
  border: 1px solid #999;
  padding: 8px 10px;
  font-size: 14px;
  text-align: left;
}

.gov-table th {
  background: #e6e6e6;
  width: 30%;
}

/* SECTIONS */
.section-title {
  margin-top: 26px;
  font-size: 16px;
  background: #e6eef7;
  padding: 8px;
  border-left: 4px solid #1f4e79;
}

/* LINKS */
a {
  color: #003399;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* FOOTER */
.gov-footer {
  background: #1f4e79;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 13px;
  margin-top: 30px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .header-inner {
    flex-direction: column;
    text-align: center;
  }

  .gov-nav ul {
    flex-wrap: wrap;
  }

  .gov-table th {
    width: auto;
  }
}



.rfp-btn {
  display: inline-block;
  background: #1f4e79;
  color: #fff;
  padding: 10px 18px;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #163a5c;
}

.rfp-btn:hover {
  background: #163a5c;
}
